@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

:root {
  --tocco-red: brown;
  --signal-danger: #961b1b;
}

html {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#description {
  font-size: 14px;
}

#errorMessage {
  display: none;
  color: var(--signal-danger);
  font-size: 14px;
}

a {
  color: inherit;
  font-size: 14px;
}

label {
  font-size: 13px;
}

input {
  width: 95%;
  padding: 0.5rem 0.3rem;
  margin-bottom: 0.75rem;
  border: 1.1px solid rgb(204, 204, 204);
}

button {
  width: 100%;
  display: flex;
  margin: auto;
  border-radius: 25px;
  justify-content: center;
  padding: 0.75rem 0;
  background: var(--tocco-red);
  color: white;
  border: 0;
  margin-top: 1rem;
}

button:hover {
  background: #d13e45;
  cursor: pointer;
}
